header {
    color: red
    background-color: beige;
}

main {
    color: rgb(160, 57, 57);
    background-color: rgb(5, 80, 60);
}

footer {
    color: #ee3e80;
    background-color: #96727b;
    background-color: hsl(50%, 50%, 50%);
}